table{
    border-spacing: 0;
    width: 100%;
}

thead{
    background-color: #d6cbc4;
}

thead tr{
    line-height: 45px;
}

tr{
    text-align: center;
    line-height: 43px;
    height: 80px;
}

td p {
    font-size: 12px;
}

.cart__title{
    font-family: "autosignature";
    font-size: 41px;
    text-align: center;
    margin: 5% 0;
}

.item__img img{
    width: 60px;
}

.item__remove img{
    width: 30px;
}

.cart{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}

.item__quantity .counter {
    margin: 0 20px;
}

.item__quantity .clicks {
    margin: 0 30%;
}

table > tbody > tr > td> p{
    margin-bottom: 0;
}

.counter button{
    line-height: 10px;
}

.emptycart{
    font-size: 25px;
    text-align: center;
    margin-top: 15%;
    height: 500px;
}

.emptycart p{
    margin-bottom: 5%;
}

.buy{
    background-color: #f6f2ec;
    border: none;
    width: 179px;
    padding: 2%;
    border-radius: 8px;
    font-size: 13px;
    font-family: "Josefin Sans", sans-serif;
    color: #2d2a2a; 
}

.buy:hover{
    background-color: #d6cbc4;
}

.button{
    background-color: #f6f2ec;
    font-family: "Josefin Sans", sans-serif;
    color: #2d2a2a; 
    border: none;
    padding: 18px;
    margin: 1%;
    border-radius: 5px;
    font-size: 13px;
}

.button:hover{
    background-color: #d6cbc4;
    transition: all 1s;
}

.buy{
    background-color: #d6cbc4;
}

.buy:hover{
    background-color: #f6f2ec;
    transition: all 1s;
}

.totalCart{
    background-color: #f6f2ec;
    width: 100%;
    padding: 10% 0;
}

.cart__totals{
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    margin: 5% 0;
}

.cart__totals h2{
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
}

.finalstep{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}


@media (max-width: 768px) {

.cart__title {
    font-size: 31px;
}

.cart {
    width: 100%;
    align-items: center;
}

table {
    width: 90%;
}

thead tr{
    font-size: 11px;
    padding: 3%;
}

tr {
    line-height: 9px !important;
    height: 40px !important;
}

.itemlist__title {
    padding: 0 2%;
}
.item__img img {
    width: 30px;
}

td p {
    font-size: 11px;
}

table > tbody .counter{
    margin: 0px;
}

table > tbody .clicks{
    margin: 0 15%;
}

.clicks{
    font-size: 11px;
    font-weight: bold;
}

.cart__totals {
    width: 80%;
    margin: 21% 0;
}

.subtotal__cart > td > p{
    font-size: 13px;
}

.cart{
    margin-bottom: 300px;
}

.finalstep {
    justify-content: space-around;
}

.finalstep .button {
    padding: 15px;
    margin: 0;
    
}

}
