@font-face {
    font-family: "autosignature";
    src: url("/src/Assets/fonts/aAutoSignature.ttf") format("truetype");
}

.detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}

.detail__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail__image > img{
    width: 350px;
}

.detail__text{
    font-family: "Josefin Sans", sans-serif;
    color: #2d2a2a; 
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail__text > h3{
    width: 300px;
    margin: 25px;
    text-align: center;
    font-size: 15px;
}

.detail__description{
    width: 300px;
    margin: 25px;
    text-align: center;
    font-weight: 400;
}

.detail__text > h4{
    margin: 15px;
    text-align: center;
    font-size: 15px;  
}

.price{
    margin: 15px 0px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.swal2-styled.swal2-confirm {
    background-color: #d6cbc4!important;
    color: #fff;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px #d6cbc4!important;
}
