
.container__items h1{
    margin-top: 5%;
    text-align: center;
    font-family: "autosignature";
    font-size: 43px;
    font-weight: 500; 
}

.container__category h1{
    margin-top: 5%;
    text-align: center;
    font-family: "autosignature";
    font-size: 43px;
    font-weight: 500; 
}

@media (max-width: 768px) {

.container__items h1{
    font-size: 31px;
    margin: 5%;
}

.container__items{
    height: 2900px;
}

.container__category h1{
    font-size: 31px;
    margin: 8%;
}

.container__category{
    height: 1200px;
}

}