
.container__cart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 8%;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
    margin-bottom: 5%;
}

.item > a >button{
    background-color: #f6f2ec;
    font-family: "Josefin Sans", sans-serif;
    color: #2d2a2a; 
    border: none;
    width: 100px;
    padding: 8%;
    margin-top: 11%;
    border-radius: 8px;
    font-size: 13px;
}

.item > a >button:hover{
    background-color: #d6cbc4;
    transition: all 1s;
}

.item__image{
    width: 300px;
    height: 300px; 
}

.item h3, .item h4{
    margin-top: 3%;
    font-weight: 600;
}

.item h3{
    font-size: 15px;
}


.item h4{
    font-size: 13px;
}