
span.sr-only{
    display: none;
}

.container__home{
    height: 500px;
    margin-top: 5%;
}

.home h1{
    font-family: "autosignature";
    font-size: 43px;
    text-align: center;
    margin-top: 5%;
}

.carousel, .carousel-inner {
    height: 650px;
}

.carousel-item > img{
    height: 650px;
    object-fit: cover;
}

@media (max-width: 768px) {

    .home{
        height: 2000px;
    }

    .carousel, .carousel-inner {
        height: 350px;
    }
    
    .carousel-item > img{
        height: 350px;
    }
    
    .home h1 {
        font-size: 31px;
        margin: 8% 5%;
    }

    }