.home{
    height: auto;
}

span.sr-only{
    display: none;
}

.container__home{
    height: 500px;
}

.container__home p{
    text-align: center;
    padding: 0 10%;
}

.home h1{
    font-family: "autosignature";
    font-size: 43px;
    text-align: center;
    margin-top: 5%;
}

.carousel, .carousel-inner {
    height: 650px;
}

.carousel-item > img{
    height: 650px;
    object-fit: cover;
}