.contact{
    height: 500px;
}

.contact h1{
    font-family: "autosignature";
    font-weight: 400;
    text-align: center;
    font-size: 41px;
    margin-top: 9%;
    margin-bottom: 3%;
}

.form-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 600px;
}

input{
    width: 100%;
    padding: 8px;
    font-size: 9px !important;
}

input:focus-visible{
    border-color: #d6cbc4;
}

:focus-visible {
    outline: #d6cbc4 auto 1px;
}
.button__form {
    width: 100%;
    background-color: #f6f2ec;
    font-family: "Josefin Sans", sans-serif;
    color: #2d2a2a;
    border: none;
    padding: 13px;
    margin: 1%;
    border-radius: 5px;
    font-size: 11px;
}

.button__form:hover{
    background-color: #d6cbc4;
    transition: all 1s;
}

.forms__buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}