
.navbar-expand-lg .navbar-nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #f6f2ec!important;
}

.logo{
    width: 20%;
}

.container-fluid{
    margin: 0 3% !important;
}

#basic-navbar-nav > div > a {
    padding: 0 29px !important;
}

#basic-nav-dropdown {
    padding: 0 29px !important;
}

a{
    font-size: 12px !important;
    color: #2d2a2a !important;
    text-decoration: none !important;
}

.dropdown-item{
    font-size: 12px !important;
    color: #2d2a2a !important;
}

.dropdown-menu {
    --bs-dropdown-bg: #f6f2ec !important;
}

a.active{
    font-weight: bold;
}

.navbar-nav a {
    position: relative; 
}

.navbar-nav a::after {
    content: "";
    background-color: #d6cbc4 !important;
    color: #d6cbc4 !important;
    position: absolute;
    left: 0;
    top: 100%;
    width: 19%;
    height: 2px;
    opacity: 0;
    transition: width 1s; 
}

.dropdown-toggle::after {
    border-top: 0 !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #e5dbd4 !important;
}

.dropdown-toggle::after {
    border: none; 
}

.navbar-nav a.active::after {
    opacity: 1; 
}

.navbar-nav a:hover::after {
    opacity: 1;
    width: 100%; 
}

.quantity__cartwidget{
    margin: 0;
}

#basic-navbar-nav > div > a:nth-child(5){
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

nav > div > button{
    border-width: .5px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 rgba(0,0,0,0)!important;
}

@media (max-width: 768px) {

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: inline-block !important;
}

.logo {
    width: 30%;
}

#root > div > nav > div > button{
    margin-left: 50%;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: column !important;
    align-items: flex-start !important;
    flex-wrap: nowrap !important;
}

#basic-navbar-nav > div > a {
    padding: 9px 0px !important;
}

#basic-nav-dropdown {
    padding: 9px 0px !important;
}

#basic-navbar-nav{
    margin-left: 5%;
}

.dropdown-menu {
    border: none !important;

}

.mobile{
    display: none;
}

.navbar-nav a::after {
    top: 75%;
}

.navbar-nav a:hover::after {
    width: 5%;
}

.dropdown-toggle::after {
    margin-left: 0em !important;  
}

} 